/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Anton */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* bokor */
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bokor&display=swap');

/* Rancho  */
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bokor&family=Rancho&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundImg{
    background-image: url('../src/assets/images/more/1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-color: #eceae3a3;
}

.backgroundArt {
    background-image: linear-gradient(#d2b48c60, #d2b48c54), url('../src/assets/images/more/11.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
}
    
.heroBackground{
    background-image: linear-gradient(#1919190d, #1919190d), url('../src/assets/images/more/3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
}